<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="{{ site.url }}/">smy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/blog/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/about/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/photo/">Photo</a>
          </li>
          <!-- <a class="nav-item nav-link active" href="{{ site.url }}/blog/">Blog <span class="sr-only">(current)</span></a> -->
          <!-- <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
        </ul>


<!--      <div class="nav-right">
        <a href="https://twitter.com/sumiya0820" target="_blank">
          <i class="fab fa-twitter circle-tw"></i></a>
        <a href="https://www.instagram.com/sumi0820" target="_blank">
          <i class="fab fa-instagram circle-tw"></i></a>
      </div> -->

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>
