<nav>
  <div class="nav-container sticky">
    <div class="nav-left">
    <a href="/" class="hover-line">{{ site.title }}</a>
    </div>
    <div class="nav-center">
        <ul>
          <li><a href="smy/blog/" class="hover-line">Blog</a></li>
        <!--  <li><a href="/work/" class="hover-line">Work</a></li> -->
          <li><a href="smy/about/" class="hover-line">About</a></li>
        </ul>
    </div>
    <div class="nav-right">
      <a href="https://twitter.com/sumiya0820" target="_blank">
        <i class="fab fa-twitter circle-tw"></i></a>
      <!-- <a href="" target="_blank">
      <i class="fab fa-facebook-f circle-fb"></i></a>-->
      <a href="https://www.instagram.com/sumi0820" target="_blank">
        <i class="fab fa-instagram circle-tw"></i></a>
    </div>
    <div class="search_bar">
      <input type="text" name="search">
      <button type="submit"><i class="fa fa-search"></i>
    </div>
  </div>
</nav>
